@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap');
.notfound {
  text-align : center;
}
.notfound .notfound-404 h3 {
  font-size      : 2rem;
  font-weight    : 900;
  text-transform : uppercase;
  color          : #262626;
  margin         : 0px;
  letter-spacing : 3px;
  padding-left   : 6px;
  margin         : 0 !important;
}
.notfound .notfound-404 h1 {
  font-family    : 'Alumni Sans Inline One', cursive;
  font-size      : 10rem;
  font-weight    : 400;
  color          : #e74611;
  text-transform : uppercase;
  margin         : 0 !important;
}

